@mixin Button 
{
  border: 3px solid red;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  padding: 14px;
  padding-left: 34px;
  padding-right: 34px;
  margin-left: 2%;
  margin-top: 40px;
}

.header
{
  .navdd
  {
    display: none;
  }
  .navdd:hover
  {
    display: block;
  }
  .logo
  {
    width: 70px;
  }
  p
  {
    font-weight: 900;
    display: inline-block !important;
  }
  
  li
  {
    padding: 23px;
  }
  a:hover
  {
    border-bottom: 2px solid orange;
  }
  form
  {
    padding: 23px;
  }
}

.hero
{ 
  @media  screen and (max-width:600px)
  {
    .head1
    {
      font-size: 60px;
    }
  }
  
  margin-top: 40px;
  // margin-left: 100px;
  
  .today
  {
    color: red;
  }
  h1{
    font-size: 100px;
  }
  video
  {
  width: 100%;
  border-top-left-radius: 15rem;
  height: 100%;
  }
  .btn
  {
   @include Button()
  }
  .btn:hover
  {
    background-color: red;
  }
}

.Box
{
  margin-top: 40px;
  h1
  {
  font-size: 50px;
  }
  .boximg
  {
    width: 90%;
  }
  p
  {
    font-size: 27px
  }
  .btn
  {
    @include Button()
  }
  .btn:hover
  {
    background-color: red;
  }
}

.emp
{
  background-image: url(./Media/london-areal.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  padding-top: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  h1
  {
    font-size: 50px;
  }
  p
  {
    font-size: 30px;
  }
  .btn
  {
    @include Button();
    background-color: white;
  }
  .btn:hover
  {
    background-color: red;
  }
  
}

.arrow
{
  margin-top: 80px;
  h1{
    padding: 20px;
    font-size: x-large;
  }
  p
  {
    padding: 30px;
  }
}

.create
{

  background-image: url(./Media/icon-bg.svg);
  background-size: 400px;
  background-position: 50%;
  background-repeat: no-repeat;
  .hover
  {
    text-align: justify;
    padding-left: 15px;
  }
  @media screen and (max-width:600px)
  {
    .head1
    {
      font-size: 45px;
    }
  }
  .hover:hover
  {
    border-left: 2px solid orange;
  }

  h1
  {
    font-size: 80px;
    font-weight: 600 !important;
  }
}


.explore
{
  background-image: url("./Media/CITY-a.m_website.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 13px  30px 30px;
  margin-top: 80px;
  
 .card
 {
  // margin-left: 57px;
  // border: transparent;
  border-bottom-left-radius: 30px;
 }

 a
 {
  text-decoration: none;
  color: orange;
  background-color: #FCDED3;
  padding: 5px;
  border-radius: 10px;
 }
}

.top
{
  padding-top: 20px;
}
.cards
{
  margin-top: 70px;
  a
  {
   text-decoration: none;
   color: orange;
   background-color: #FCDED3;
   padding: 5px;
   border-radius: 10px;
  }

}


.Intero
{
  .row
  {
    padding-top: 40px;
  }
  h1
  {
    font-size: 40px !important;
    font-weight: 700 ;
  }
  p
  {
    font-size: 34px;
  }
  .img1
  {
    width: 80%;
    height: auto;
  }


  .btn
  {
    @include Button();
  }
  .btn:hover
  {
    background-color: red;
  }
}

.banner3
{
  background-image: url(./Media/london2.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  height: 30rem;
  h1
  {
    font-size: 70px;
    color: white;
    padding-top: 60px;
  }
  .btn
  {
    @include Button();
    background-color: white;
  }
  .btn:hover
  {
    background-color: red;
  }
  
}

.fColor
{
  background-color: #F6F6F6;
  
}
.footer
{
  
  // margin-top: 10rem;
  ul
  {
    margin-top: 80px;
  }
  a
  {
    text-decoration: none;
    color: black;
  }
  .img
  {
    width: 60%;
  }
  hr
  {
    // margin-top: 80px;
  }
  // .row2
  // {
  //   margin-top:80px ;
  //   margin-bottom: 80px;
  // }
}